In [10]:
# import pandas as pd
# import numpy as np
# import os
# from os import path, mkdir
# from tqdm import tqdm

In [11]:

# # Load the CSV file into a pandas DataFrame
# positive_df = pd.read_csv('C:\\Users\\netac\\Downloads\\Amir\\MSc\\Thesis\\alpha10x\\\KPAN10x\\KPAN_V2\\Data\\orgs_dataset\\train.csv')
# positive_df.head()

,person_id,org_id,label
0,188fbe13-3fd8-4d3c-9361-6baeb0ff87c1,5c79eaa8-c73e-4bdf-ac26-b84ed2fc3643,1
1,dd34229b-8b28-4a27-b18e-5647f9c83c30,a53201c2-ae09-4541-bc53-18599aca8174,1
2,df229cac-f80c-45f3-abe1-f81a48a557b3,24a90bf3-6f7c-4d68-a844-9cef04a50bf8,1
3,424bae40-fc4f-4ec0-b456-497bf130686d,57445777-c073-4220-acee-83ea0f99db13,1
4,8caaf505-a94d-4018-b880-938f862d2ea1,3f2a08e2-610f-4dc7-b270-6da259a4a200,1

In [12]:

# # Filter the DataFrame to only include positive interactions (target=1)
# positive_df = df[df['label'] == 1]
# positive_df.head()

In [13]:

# # Get the unique person_ids and organization_ids from the positive interactions
# person_ids = positive_df['person_id'].unique()
# organization_ids = positive_df['org_id'].unique()

In [14]:
# # Generate negative pairs by randomly sampling pairs that don't already exist in the positive interactions
# negative_pairs = []
# num_negative_pairs = int(len(positive_df) * 0.3)
# pbar = tqdm(total=num_negative_pairs, desc='Generating negative pairs')
# while len(negative_pairs) < num_negative_pairs:
#     person_id = np.random.choice(person_ids)
#     organization_id = np.random.choice(organization_ids)
#     if not ((positive_df['person_id'] == person_id) & (positive_df['org_id'] == organization_id)).any():
#         negative_pairs.append((person_id, organization_id))
#         pbar.update(1)
# pbar.close()

Generating negative pairs: 100%|██████████| 12220/12220 [01:02<00:00, 196.94it/s]

In [15]:

# # Concatenate the positive and negative pairs into a new DataFrame
# new_df = pd.concat([positive_df, pd.DataFrame(negative_pairs, columns=['person_id', 'org_id']).assign(label=0)])

In [16]:

# # Shuffle the new DataFrame
# new_df = new_df.sample(frac=1)

In [3]:

# Save the new DataFrame to a CSV file
new_df.to_csv('C:\\Users\\netac\\Downloads\\Amir\\MSc\\Thesis\\alpha10x\\\KPAN10x\\KPAN_V2\\Data\\orgs_dataset\\train.csv', index=False)

NameError: name 'new_df' is not defined

## Smaller dataset for running fast

In [9]:
import pandas as pd
import numpy as np

In [10]:
# Load the CSV file into a pandas DataFrame
long_df = pd.read_csv('C:\\Users\\netac\\Downloads\\Amir\\MSc\\Thesis\\alpha10x\\\KPAN10x\\KPAN_V2\\Data\\orgs_dataset\\train.csv')
long_df.head()

,person_id,org_id,label
0,062cbdb3-67d0-447f-a919-1b3c9cf6b2f8,24d60616-1561-4627-ba80-cc5196b2f6f6,1
1,55a49f8f-43a6-40bf-993b-0ef799b0eb32,62eb687a-0eee-4dac-9ad0-3801106220f1,1
2,9405e5e6-1a8f-4259-b3ca-0ebc55a55653,0b1eeb69-1632-4999-9a6c-f2a5a9e92f8f,0
3,7ab3fc79-fd74-4ec6-8cfc-fc372f9de6ad,0001b479-06c3-4904-8dfb-f61951a6d2f9,1
4,2bd2c5ef-cae4-4c71-a8ca-6d082d70b75e,1ca2f36e-fc0e-4f56-87e3-e468599fd455,1

In [11]:
negative_long_df = long_df[long_df['label'] == 0]
positive_long_df = long_df[long_df['label'] == 1]

In [12]:
# randomly sample 1.5K entries from each of the negative and positive dataframes
np.random.seed(42)
negative_sample = negative_long_df.sample(n=3200)
positive_sample = positive_long_df.sample(n=7000)

In [13]:
# combine the sampled dataframes into a single dataframe
short_df = pd.concat([negative_sample, positive_sample], axis=0)

In [14]:
# shuffle the order of the rows in the sampled dataframe
short_df = short_df.sample(frac=1, random_state=42)

In [15]:
# export the sampled dataframe to a new csv file
# Save the new DataFrame to a CSV file
short_df.to_csv('C:\\Users\\netac\\Downloads\\Amir\\MSc\\Thesis\\alpha10x\\\KPAN10x\\KPAN_V2\\Data\\orgs_dataset\\short_train.csv', index=False)